<footer>
  <p>
    Made with ❤️ by <a href="https://github.com/kewlinnn">kewlinnn</a>
    &copy; 2025. All rights reserved.
  </p>
</footer>
<script>
  //dialog for delete confirmation
  const deleteModal = document.querySelector("#delete-modal");
  const deleteBtn = document.querySelector(".delete-btn");
  const cancelBtn = document.querySelector(".cancel-btn")

  deleteBtn.addEventListener("click", () => {
    deleteModal.showModal();
  })
  cancelBtn.addEventListener("click", ()=>{
    deleteModal.close();
  })
</script>  
</body>
</html>