<%- include("partials/header.ejs") %>

<div class="blog-container">
  <h2>
    <%= blogPost.title %>
  </h2>
  <h3>By: <strong><%= blogPost.author %></strong></h3>
  <p class="blog-content"> <%= blogPost.content %> </p>

  <div class="buttons">
  </div>
</div>